html {
  --top-height: 145px;
}

.contents table:not(.memberdecls):not(.mlabels):not(.fieldtable):not(.memname) {
  display: block;
}

.contents table:not(.memberdecls):not(.mlabels):not(.fieldtable):not(.memname) tbody {
  display: table;
  width: 100%;
}
